/* page 1 overview */
#section0 {
    display: flex;
    flex-direction: column;
}

.logo-introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    
}
.logo img {
    width: var(--logo-width);
    height: var(--logo-height);
}
.introduction {
    font-size: 1.563rem;
    /* padding-left: 150px; */
    letter-spacing: 0.313rem;
    padding: calc(var(--logo-height) / 10.5) 0 0 9.375rem;
    
} 
.download {
    padding : 3.125rem;
    font-weight: bold;
}
.download button{
    border: 0.063rem solid skyblue;
    /* background-color: #85BEFC; */
    color: white;
    padding: 0.313rem;
    width: 18.75rem;
    height: 3.438rem;
    border-radius: 0.625rem;
    justify-content: center;
}
.overview{
    /* margin-right: 18.75rem; */
}
.overview-title {
    font-size: 1.688rem;
    font-weight: bold;
    padding-right: 31.25rem;
}
.overview-content {
    padding-left: 1.25rem;
    margin-right: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.overview-content p {
    /* padding-bottom: 1.25rem; */
}
