/* page 3 solution */
#section2 .container {
    background-color: #FAFBFD;
}

.solution-area {
    display: flex;
    flex-direction: row;
}
.as-is-area{
    padding-right: 6.875rem;
    text-align: center;
    align-items: center;
}
.as-is {
    width: var(--sol-item-width);
    height: var(--sol-item-height);
    background-color: lightgray;
    border-radius: 1.875rem;
    text-align: center;
    line-height: var(--sol-item-height);
    color: black;
    font-weight: bold;
    margin-left: calc(var(--sol-item-width) /2);
}
.as-is-explanation-set {
    /* padding-top: 6.75rem; */
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 25.313rem;
    height: 22.813rem;
    justify-content: space-around;
}
.as-is-explanation {
    /* padding-top: 4.688rem; */
}
.arrow {
    padding-top: 21.5%;
}
.arrow-item {
    font-weight: bold;
}
.to-be-area{
    padding-left: 6.875rem;
    text-align: center;
}
.to-be {
    width: var(--sol-item-width);
    height: var(--sol-item-height);
    border-radius: 1.875rem;
    text-align: center;
    line-height: var(--sol-item-height);
    color: white; 
    font-weight: bold;
    margin-left:calc(var(--sol-item-width) /2);
}
.to-be-explanation-set {
    /* padding-top: 6.75rem; */
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 25.313rem;
    height: 22.813rem;
    justify-content: space-around;
}
.to-be-explanation {
    /* padding-top: 4.688rem; */
}
